@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,800;0,900;1,400&family=Old+Standard+TT&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "montserrat", "sans-serif";
  background-color: rgb(17, 31, 43);
  color: rgb(244, 244, 245);
}

a {
  text-decoration: none;
}

head,
h1 {
  text-align: center;
  font-weight: 900;
  font-size: 3rem;
  color: rgb(244, 244, 245);
  padding: 1rem 0 1rem 0;
  background-color: rgb(7, 12, 17);
}

.contBajada {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  margin-bottom: 3rem;

  align-items: center;
  flex-wrap: wrap;
}

.contBajada p {
  width: 400px;
}

.contBajada h2 {
  margin: 0.5rem;
}

.nuevo {
  border-radius: 1.5rem;
  border: 1px solid rgb(13, 248, 178);
  width: 350px;
  height: 220px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1rem;

}

.nuevo p {
  width: 250px;
  text-align: center;
}

.tipo-de-auto,
.tipo-de-aceite {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;

}

.card-titulo {
  height: 350px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  border-radius: 1.5rem;
  border: 1px solid rgb(13, 248, 178);
  background-color: rgb(7, 12, 17);
}

.formulario {

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 1rem;
  padding: 3rem;
  color: aliceblue;

}

.formulario,
h3 {
  text-align: center;
  padding: 1rem;


}

.botonGuardar {
  background-color: rgb(12, 188, 201);
  color: aliceblue;
  padding: 0.5rem;
  border-radius: 0.5rem;
  font-weight: 900;
  border-color: 1px solid rgba(255, 0, 0, 0);
  text-shadow: 2px 2px 5px rgb(17, 31, 43);

}

input::placeholder {
  color: aliceblue;
  background-color: rgba(17, 31, 43, 0);

  text-align: center;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;

}

input {
  border: 1px solid #435a53;
  background-color: rgb(7, 12, 17);
  padding: 0.5rem;

  border-radius: 0.5rem;
  border-color: 1px solid rgb(255, 255, 255);
  color: aliceblue;
  font-weight: 600;
}

h2 {
  font-size: 2rem;
  margin: 3rem 0 3rem 0;
  text-align: center;
}

.datosAceite {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  border-radius: 1.5rem;
  border: 1px solid rgb(13, 248, 178);
  background-color: rgb(7, 12, 17);
  width: 250px;
  height: 550px;
}

.formAceite {
  outline: none;

}

.label {
  display: flex;
  justify-content: space-around;
  padding: 0.5rem 0 1rem 0;

}

.filtros {
  border: 1px solid #435a53;
  border-radius: 1.5rem;

}

.TituloFiltro {
  padding: 0.5rem;

}

input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(1);
}

textarea {
  background-color: rgb(7, 12, 17);
  border: 1px solid #435a53;
  border-radius: 0.5rem;
  color: aliceblue;
  text-align: justify;
  padding: 0.5rem;
}

textarea::placeholder {

  background-color: rgba(17, 31, 43, 0);
  color: aliceblue;
  text-align: center;
  font-family: "montserrat";
}

/*----------------------estilos tipo de auto---------------------*/
.contAuto {
  border-radius: 1.5rem;
  border: 1px solid rgb(13, 248, 178);
  background-color: rgb(7, 12, 17);
  padding: 1rem;
  margin-left: 1rem;
}

.contStrong {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.pintoAuto {
  color: rgb(13, 248, 178);
  font-size: 1.5rem;
  font-weight: 900;

}

.btnBorrar {
  width: 4rem;
  background-color: rgb(201, 12, 84);
  color: aliceblue;
  padding: 0.3rem;
  border-radius: 0.5rem;
  font-weight: 900;
  border-color: 1px solid rgba(255, 0, 0, 0);
  outline: 0;
  border: 1px solid rgb(201, 12, 84);
  margin: 1rem;
}

strong {
  font-weight: 300;
  padding: 0.5rem;

}

.tituloAuto {
  margin-bottom: 1rem;
  color: rgb(13, 248, 178);
  padding: 0;
  letter-spacing: 2px;
}

/*--------------------------Manteinimiento Filtros-------------*/

.contAceite {
  border-radius: 1.5rem;
  border: 1px solid rgb(13, 248, 178);
  background-color: rgb(7, 12, 17);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 0 1rem 1rem;
}

.strongAceite {
  display: flex;
  flex-direction: column;
}

.fechaTipo {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.pintoAceite {
  font-weight: 900;
  color: rgb(13, 248, 178);
}

.filtroTipo {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.tituloAceite {
  padding: 0.5rem;
  color: aliceblue;
}

.cajaNota {
  border: 1px solid #435a53;
  padding: 1rem;
  border-radius: 0.5rem;
  margin: 10px;
}

.pintoNota {
  color: rgb(13, 248, 178);
}

.cajaBoton {
  display: flex;
  justify-content: center;
}

/*--------------section historia---------*/

.secHistoria {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
}

.tituloLista {
  font-size: 1.5rem;

}

.contlista {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

}

.contenedorH {
  background-color: rgb(7, 12, 17);
  padding: 1rem;
  margin-top: 2rem;
  border-radius: 2rem;
  border: 1px solid rgb(13, 248, 178);
}

.contenedorH H2 {
  margin: 0rem 0 2rem 0;
}

select {
  font-size: 1.5rem;
  border: 1px solid rgb(13, 248, 178);
  border-radius: 1.2rem;
  text-align: center;
  background: rgb(7, 12, 17);
  color: aliceblue;
  padding: 0.3rem;
}

.contInfo {
  display: flex;
  flex-direction: column;
  width: 500PX;
  margin-left: 1rem;
  gap: 0.2rem;
}

.contInfo a {
  color: rgb(13, 248, 178);
  font-weight: 700;
  font-size: 1.1rem;
  text-decoration: none;
  letter-spacing: 1px;
  margin-bottom: 0.5rem;
}

.contInfo img {
  border-radius: 1rem;
  border: 1px solid rgb(13, 248, 178);
  box-shadow: 5px 5px 17px rgb(6, 1, 29);
}


.info {
  color: rgb(13, 248, 178);
  font-weight: 600;
  font-size: 1rem;
  letter-spacing: 1px;
  margin-bottom: 0.5rem;
}

/*----------------------Media Query-------------------------*/
@media (max-width:425px) {
  .contInfo {

    width: 300px;

  }

  .tituloLista {
    font-size: 1.2rem;
  }

  select {
    font-size: 1.2rem;

  }
}

@media (max-width:320px) {
  .contInfo {

    width: 252px;

  }

  .nuevo {
    width: 300px;
  }

  .contBajada p {
    width: 300px;
  }

  head,
  h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }

  h2 {
    font-size: 1.5rem;
  }
}
.imagen {
  cursor: pointer;
  transition: transform 0.8s ease;
}
.ampliada {
  transform: translate(-50%, -50%) scale(1);
  max-width: 100%;
  max-height: 100%;
  position: fixed;
  top: 50%;
  left: 50%;

}